{{ define "main" }}
<div class="cowsay">
<pre> ___________________________
&lt; haiii &gt;
 ---------------------------
 \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
</pre>
</div>

{{ .Content }}

<hr>
<div class="badge-grid">
  <img src="https://img.shields.io/badge/made%20with-elementary%20os-2c97de?style=for-the-badge&logo=elementary&logoColor=white" alt="elementary os" />
  <img src="https://img.shields.io/badge/built%20on-bearblog-black?style=for-the-badge" alt="bearblog" />
  <img src="https://img.shields.io/badge/no%20cookies-🧹-lightgrey?style=for-the-badge" alt="no cookies" />
  <img src="https://img.shields.io/badge/ad%20free-✔️-green?style=for-the-badge" alt="ad free" />
  <img src="https://img.shields.io/badge/digital%20minimalism-🌱-blueviolet?style=for-the-badge" alt="digital minimalism" />
  <img src="https://cyber.dabamos.de/88x31/cssdif.gif" alt="CSSdif" />
  <img src="https://cyber.dabamos.de/88x31/bu12.gif" alt="BU12" />
  <img src="https://cyber.dabamos.de/88x31/cc-button.gif" alt="Creative Commons" />
  <img src="https://cyber.dabamos.de/88x31/corp.gif" alt="Corp" />
  <img src="https://cyber.dabamos.de/88x31/crushit.gif" alt="Crush It" />
  <img src="https://cyber.dabamos.de/88x31/color.gif" alt="Colorful" />
</div>
{{ end }}
